<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">
<title>Profile</title>

<link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

<nav class="navbar">

<div class="logo">FocusFlow</div>

<div class="nav-links">
<a href="/">Home</a>
<a href="/tasks">Tasks</a>
<a href="/focus">Focus</a>
<a href="/profile">Profile</a>
</div>

</nav>

<div class="profile-box">

<img th:src="@{/images/IMG_0706.JPG}" alt="Profile">

<h2>Vedavarshini</h2>

<p>Java Developer Intern</p>

<div class="stats">



</div>

</div>

</body>
</html>